/* Write your code here: */

/* Select two elements seperated by a comma */
h1, h2 {
    color: blueviolet;
}

/* Child selector */
.box > p {
    color: firebrick;
}

/* Descendant selector */
.box li {
    color: blue;
}

/* Chaining selector */
li.done{
    color: seagreen;
}

/* Combining combiners */
ul p.done {
    font-size: 0.5rem;
}